body {
  background-color: antiquewhite;
  font-family: sans-serif;
  font-size: 18px;
}

#root {
  display: flex;
}

h2 {
  border: 1px solid burlywood;
  padding: 20px;
  width: fit-content;
  display: flex;
  align-items: center;
}

button {
  font-size: 0.8em;
}

#sync-button {
  margin-left: 10px;
}

#find-product-input {
  flex-grow: 1;
  margin: 0 20px;
}

button {
  font-size: 1em;
  padding: 5px;
}

.search-bar-container {
  font-size: 1em;
  padding: 5px;
  display: flex;
  align-items: center;
  width: 750px;
}

input {
  padding: 5px;
  font-size: 1em;
}

#product-list-container {
  padding: 0;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 760px;
  margin-top: 20px;
}

td,
th {
  border: 1px solid burlywood;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: burlywood;
}

.id-column {
  width: 50px;
}

#testing-container {
  display: flex;
  flex-direction: column;
}

.total-number {
  width: 10px;
}
